keys.ini
.travis.yaml
.idea
lib/
adapt/
mcstatus/

commands/unwatchtopgames.py
commands/watchpopgames.py
commands/watchtopgames.py
commands/getgame.py
commands/getpopgames.py
commands/gettopgames.py
commands/unwatchpopgames.py