bot_keys.ini
.travis.yaml
.idea
lib/
adapt/
mcstatus/

# Moved to Steam Boet
commands/unwatchtopgames.py
commands/watchpopgames.py
commands/watchtopgames.py
commands/getgame.py
commands/getpopgames.py
commands/gettopgames.py
commands/unwatchpopgames.py

# Moved to Info Boet
commands/chess.py
commands/cric.py
commands/define.py
commands/eg.py
commands/german.py
commands/getacronym.py
commands/getanswer.py
commands/getbook.py
commands/getgerman.py
commands/getlink.py
commands/getlyrics.py
commands/getmovie.py
commands/getquote.py
commands/getshow.py
commands/getsound.py
commands/getsuggestion.py
commands/getvid.py
commands/getweather.py
commands/gw2timers.py
commands/hello.py
commands/help.py
commands/isis.py
commands/iss.py
commands/launch.py
commands/mc.py
commands/pick.py
commands/place.py
commands/rand.py
commands/retry_on_telegram_error.py
commands/reverseimage.py
commands/shots_fired.py
commands/start.py
commands/torrent.py
commands/translate.py
commands/unwatchbitcoin.py
commands/unwatchcric.py
commands/unwatchdefine.py
commands/unwatchiss.py
commands/unwatchmc.py
commands/unwatchrand.py
commands/unwatchsound.py
commands/urban.py
commands/watchbitcoin.py
commands/watchcric.py
commands/watchdefine.py
commands/watchiss.py
commands/watchmc.py
commands/watchrand.py
commands/watchsound.py
commands/weather.py
commands/wiki.py
commands/yoda.py
commands/bitcoin.py